<div class="header-container">
  <a class="logo-container" style="cursor: pointer" routerLink="/"
    ><img class="logo" src="../../assets/Logo/Oliver_Mentel_Logo_White.svg"
  /></a>

  <ul class="header-links">
    <li>
      <a class="link" routerLink="/home" routerLinkActive="active_router">HOME</a>
    </li>
    <li>
      <a class="link" routerLink="/about" routerLinkActive="active_router"
        >ABOUT</a
      >
    </li>
    <li>
      <a class="link" routerLink="/projects" routerLinkActive="active_router"
        >PROJECTS</a
      >
    </li>
    <li>
      <a class="link" routerLink="/contact" routerLinkActive="active_router"
        >CONTACT</a
      >
    </li>
  </ul>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="col item social">
          <a href="https://twitter.com/volcannobis1" target="_blank"
            ><i class="fa fa-twitter"></i></a
          ><a href="https://www.instagram.com/volcannobis/" target="_blank"
            ><i class="fa fa-instagram"></i></a
          ><a href="https://github.com/oliver-mentel" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/oliver-mentel-73b539164/"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a href="mailto:oliver.mentel@gmail.com"
            ><i class="fas fa-envelope"></i
          ></a>
        </div>
      </div>
    </footer>
  </div>
</div>
